<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Let's Meet</title>
</head>
<body>
    <div>
        <i class="fas fa-space-station-moon-alt"></i>
        <h1 class="w-50 mx-auto text-capitalize text-info">Let's Meet!</h1>
    </div>
    {% block content %}

    {% endblock %}

</body></body>
</html>